@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --clr-bg-primary: #2c2e3b;
  --clr-bg-secondary: #3f4152;
  --clr-bg-tertiary: #5b6371;
  --clr-accent-aqua: #53c7d8;
  --clr-accent-pink: #cf61a2;
  --clr-accent-purple: #a67dd7;
  --clr-accent-red: #dd5d6e;
  --clr-get-req: #61aef8;
  --clr-post-req: #5dcd91;
  --clr-put-req: #65e3be;
  --clr-patch-req: #f4a03f;
  --clr-del-req: #cf7474;
}

body {
  max-height: 100vh;
  font-family: "Mukta", sans-serif;
  background-color: var(--clr-bg-secondary);
  overflow: hidden;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}