.primary-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.main-container {
  height: 96%;
  display: flex;
  justify-content: center;
  align-items: start;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  overflow-y: scroll;
}

nav,
footer {
  background-color: var(--clr-bg-primary);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.nav-container {
  max-width: 1300px;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.nav-container h2 {
  font-weight: 400;
}

.nav-container h3 {
  font-weight: 300;
}

.links-container {
  gap: 30px;
}

footer span {
  font-weight: 700;
}

@media screen and (min-width: 40em) {
  nav {
    text-align: left;
  }

  .nav-container {
    flex-direction: row;
  }
}
