* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

button{
  outline: none;
  border: 0;
  background: transparent;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}